*{
	box-sizing:border-box;
}
body{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	margin:0;
}
.wrapper{
	width:1120px;
	margin:0 auto;
}

#topTags{
	width: 960px;
	height:60px;
	margin-top:80px;
	margin-left:80px;
}
#nameTag{
	width:200px;
	height:60px;
	background-color: #4aaaa5;
	margin-left:80px;
	/*margin-top:80px;*/
	color:white;
	text-align: center;
	float:left;
	border-radius: 10px;
}
h2 {
	margin-top:15px;
}
#labelTag{
	width:200px;
	height:60px;
	padding-top:15px;
	padding-bottom:25px;
	background-color: #ffffff;
	float:right;
	margin-right: 60px;
	display:inline-flex;
}
.labels {
	padding-top: 0px;
	padding-left: 5px;
	padding-right:5px;
	float:left;
	text-decoration: none;
	color:#777777;
}
.portfolio {
	padding-top: 0px;
	padding-left: 5px;
	padding-right:5px;
	float:left;
	text-decoration: none;
	color:#777777;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
}

#content{
	width:960px;
	margin-left: 80;
	padding-top:20px;
	overflow:auto;
	background-image: url("images/cheap_diagonal_fabric.png");
}
#aboutMe{
	width: 610px;
	margin-left:60px;
	padding-left: 15px;
	padding-right:15px;
	background-color: #ffffff;
	float:left;
	overflow:auto;
	margin-top:30px;
	margin-bottom:30px;	
}
#picture{
	width:150px;
	height:170px;
	float:left;
}
#myInfo{
	width:96%;
	padding-bottom: 60px;
	padding-left:10px;
	padding-right:20px;
}
#connect{
	width: 200px;
	height:120px;
	float:right;
	background-color: #ffffff;
	margin-right:60px;
	margin-top:30px;
	text-align: center;
	padding-top:20px;
}
#pageFooter{
	clear:both;
	width:960px;
	height:80px;
	padding-top:30px;
	background-color: #666666;
	color:white;
	text-align: center;
	border-top:10px solid #4aaaa5;
/*	margin-left: 60px;*/
}
/*classes and ids for fonts and coloring*/

.heading{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
.myName{
	color:white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align:center;
}
#iconsDiv{
	display:inline-block
}
.icons{
	height:40px;
	width:40px;
	margin:5px;
}
a{
	color:blue;
}
a:hover{
	background-color:yellow;
}
a:visited{
	color:brown;
}
/*styles added after reset*/
h2{
	font-size:1.5em;
	font-weight: bold;
}
h3{
	font-size:1.2em;
	font-weight: bold;
}
@media screen and (max-width: 980px){
	body{
		background-color: red;
	}
	.wrapper{
		width:100%;
	}
	#aboutMe,#topTags, #content{
		width:70%;
	}

	#content{
		margin:0 auto;
	}
	#connect{
		float:left;
		margin-left:80px;
		margin-bottom: 20px;
	}
	#pageFooter{
		clear:both;
		width:100%;
	}
} 
@media screen and (max-width: 790px){
	body{
		background-color: blue;
	}
	.wrapper{
		width:100%;
	}
	#aboutMe, #topTags, #content {
		width:70%;
	}
	#content{
		margin:0 auto;
	}

	#connect{
		float:left;
		margin-left:80px;
		margin-bottom: 20px;
	}
	#labelTag{
		float:left;
		margin-left: 80px;
		margin-top:20px;
		margin-bottom:20px;
	}
	#pageFooter{
		clear:both;
	}
} 
@media screen and (max-width: 640px){
	body{
		background-color: green;
	}
	.wrapper{
		width:100%;
	}
	#aboutMe, #topTags, #content {
		width:70%;
	}
	#content{
		margin:0 auto;
	}

	#connect{
		float:left;
		margin-left:80px;
		margin-bottom: 20px;
	}
	#labelTag{
		float:left;
		margin-left: 80px;
		margin-top:20px;
		margin-bottom: 20px;
	}
	#myInfo{
		clear:both;
	}
	#pageFooter{
		clear:both;
	}
}